aws_region              = "eu-central-1"
environment             = "dev"
owner                   = "local-user"
project                 = "ckc-runner"
availability_zone       = "eu-central-1a"
instance_type           = "t3.small"
root_volume_size        = 50
grafana_allowed_cidrs   = []
allocate_eip            = false
force_destroy_reports_bucket = false
